.container {
    display: block;
    
}

.title {
	margin-left: 15px;
}

.icon_links {
    cursor: pointer;
	font-size: 18px;
	padding: 10px;
	border-radius: 25px;
	width: 70%;
}
.icon_links:hover {
	background: var(--button-hover-color);
}

@media only screen and (max-width: 1200px) {
    .icon_links {
        font-size: 16px;
    }
}

@media only screen and (max-width: 900px) {
    .icon_links { 
        grid-template-columns: 0.5fr;
		display: none;
        padding-left: 0;
        padding-right: 0;
    }

    .icon_links:hover {
        background: transparent;
    }

}
