.quip_header {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.5fr 0.5fr 2fr 7.5fr;
    column-gap: 5px;
    margin-left: 10px;
}

.quip_container {
    cursor: pointer;
    border-bottom: 1px solid var(--accent);
    margin-top: 10px;
}

.quip_content {
    margin-left: 10px;
}

.date_time {
    margin-top: 5px;
    font-size: 12px;
}

.name {
    cursor: pointer;
    margin-top: 13px;
}

.likes {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    margin-left: 10px;
    margin-bottom: 10px;
}