@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

:root {
  --primary-color: #EB5757;
  --button-hover-color: #CA2B2B;
  --background-color-dark: #333333;
  --text-color-light: #FFF9FA;
  --font-family: 'Montserrat', sans-serif;
  --accent: black;
}


@import './login.module.css';

html,
body {
  color: var(--text-color-light);
  background-color: var(--background-color-dark);
  font-family: var(--font-family);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

textarea {
  color: var(--text-color-light);
  background-color: var(--background-color-dark);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  border: 2px solid var(--primary-color);

  padding: 10px 20px;

  border-radius: 5px;
  margin-bottom: 27px;
}

textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 3px var(--primary-color);
}

button,
button span {
  border-radius: 25px;
}
button {
    background-color: var(--primary-color);
    border: 0;
    color: #333333;
    font-weight: bold;
}
button span {
    display: block;
    padding: 0.4em 0.2em;
    transition: all 0.1s linear;
    font-size: 15px;
}
button:hover {
    background: var(--button-hover-color);
}
button:active span {
    background-color: rbga(0, 0, 0, 0.2);
}
button span:focus {
    outline: 0;
}
button:disabled {
    opacity: 0.5;
}


* {
  box-sizing: border-box;
}
