.home {
    position: relative;
    border-radius: 5px;
    background: var(--background-color);
    padding-top: 0;

}

.home {
	position: relative;
	border: 1px solid var(--accent);
}

.home_header {
	height: 100vh;
	overflow: scroll;
	border-bottom: 1px solid var(--accent);
	display: grid;
	grid-template-rows: 0.5fr 0.5fr auto;
}

.home_title {
	text-align: left;
	margin-bottom: 10px;
	margin-top: 5px;
	border-bottom: 1px solid var(--accent);
	width: 100%;
	padding: 10px;
}

.home_text {
	font-weight: bold;
	font-size: 20px;

	margin-top: 0;
}

.home_quip_button {
	/* width: 25%; */
	justify-self: end;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	font-size: 15px;
	border: 1px solid var(--primary-color);
	margin-right: 10px;
}
.home_quip_button:hover {
	background-color: white;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}
.home_quip_button:focus {
	outline: none;
}

.quip_content {
    margin-left: 10px;
}

.date_time {
    margin-top: 5px;
    font-size: 12px;
}

.name {
    margin-top: 0px;
}

.back_arrow {
	margin: 10px;
	color: var(--primary-color);
	margin-top: 10;
    cursor: pointer;
	transition: all 1s;
}
.back_arrow:hover {
	transform:  rotate(360deg);
}

@media only screen and (max-width: 600px) {
	.left {
        display: none;
    }

    .right {
        display: none;
    }
}