.logout {
    display: flex;
    position: absolute;
    bottom: 0;
    padding-right: 10px;
}

.container {
    flex: 1; 
    flex-direction: row; 
}

.info {
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.info:hover {
    cursor: pointer;
    background: var(--button-hover-color);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}